# 14: CONJUNTOS DE ENTRENAMIENTO Y CONJUNTOS DE TESTING

##### Para construir un modelo se necesita dividir el dataset en 2. Esta division debe de ser al azar para evitar sesgos. De este modo, se ha de dividir el dataset cogiendo filas de diferentes localizaciones dentro el dataset.

##### - Conjunto de entrenamiento: (75%-80%) se utiliza para crear el modelo

##### - Conjunto de testing: (25%-20%) se utiliza para probar que el modelo funciona correctamente

In [3]:
# Importar las librerias

import pandas as pd
import os
import numpy as np

In [2]:
# Cargar el dataset

raiz = r"C:\Users\Usuario\Documents\05_Formación_Académica\Marc\Data_Science\machine_learning\Recursos_curso\datasets"
fichero = r"customer-churn-model\Customer Churn Model.txt"
ruta = os.path.join(raiz, fichero) 
data = pd.read_csv(ruta)

### Método 1. Utilizando la distribución NORMAL

In [20]:
# Generamos una lista de valores (np.array) con distribución NORMAL con tantos valores como filas tiene el dataset

np.random.seed(39441890) # si establecemos una semilla será posible replicar este orden

array = np.random.randn(len(data))

In [21]:
array

array([-0.40550015,  0.02003424,  1.21748048, ..., -1.39048832,
       -0.99409245,  0.53313615])

In [22]:
# Generamosn un array con valores True o False en función de si el valor es superior o menor del pocentaje que queremos de training

true_false = (array < 0.75) # queremos un 75% para training

In [23]:
true_false

array([ True,  True, False, ...,  True,  True,  True])

In [24]:
# Le pasamos el array de True y False al dataframe para quedarnos con aquellas filas que sean True

training = data[true_false]
len(training) # El nuevo dataset tiene 2545 filas, es decir, el 75% de las filas

2545

In [27]:
training.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.

In [25]:
# Hacemos lo mismo pero al contrario, es decir sacamos el de testing

testing = data[~true_false] # si pasamos el '~' lo que nos devuelve es lo contrario
len(testing) # esto nos devuelve 788 filas, el 25% de las filas

788

In [28]:
testing.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
22,AZ,130,415,358-1958,no,no,0,183.0,112,31.11,...,99,6.20,181.8,78,8.18,9.5,19,2.57,0,False.
25,NE,174,415,331-3698,no,no,0,124.3,76,21.13,...,112,23.55,250.7,115,11.28,15.5,5,4.19,3,False.
26,WY,57,408,357-3817,no,yes,39,213.0,115,36.21,...,112,16.24,182.7,115,8.22,9.5,3,2.57,0,False.

### Método 2. Usando la libreria SKLEARN

In [31]:
# Importamos la libreria sklearn.model_selection

import sklearn.model_selection as skselection

In [32]:
# Generamos de forma aleatoria la partición. En este caso, NO se puede establecer una semilla

entreno, test = skselection.train_test_split(data, # le decimos que dataframe coger
                                             test_size = 0.2) # seleccionamos que porcentaje destinar para testing

In [33]:
len(entreno)

2666

In [34]:
len(test)

667

### Método 3. Usando la función Shuffle

##### Lo que vamos a hacer es mezclar el dataframe utilizando la función Shuffle. Esta función no será del paquete numpy ya que la función Shuffle de Numpy no actua sobre dataframes, solo sobre listas. De este modo, utilizaremos la función Shuffle de la libreria sklear que tenemos que importar

In [35]:
# Importamos sklearn

import sklearn

In [37]:
# mezclamos el dataframe

data_mezclada = sklearn.utils.shuffle(data)

In [38]:
# Establecemos el corte

corte = int(0.8 * len(data_mezclada)) # no puede ser decimal, asi que redondeamos

In [39]:
# Dividimos el nuevo dataset

entrenamiento = data_mezclada[: corte]
examen = data_mezclada[corte + 1 :]

In [40]:
len(entrenamiento)

2666

In [41]:
len(examen)

666