# 03:CARGAR DATOS DESDE UNA URL #

### Cargar de forma sencilla ###

In [1]:
# Mediante la funci√≥n propia de pandas read_csv()

import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRgDmJGDkg6EYP8aTOyOM2bU1Q8PBCi9HImsXr-MVKj08gJkG_c5OsfiOUCmYYLzUWa6-diTJXdu60K/pub?output=csv"

data_frame = pd.read_csv(url)

In [2]:
data_frame.head()

,Athlete,Age,Year,Closing Ceremony Date,Gold Medals,Silver Medals,Bronze Medals,Total Medals
0,Michael Phelps,23.0,2008,08/24/2008,8,0,0,8
1,Michael Phelps,19.0,2004,08/29/2004,6,0,2,8
2,Michael Phelps,27.0,2012,08/12/2012,4,2,0,6
3,Natalie Coughlin,25.0,2008,08/24/2008,1,2,3,6
4,Aleksey Nemov,24.0,2000,10/01/2000,2,1,3,6