# 11: NÚMEROS ALEATORIOS

In [1]:
import pandas as pd
import os

In [2]:
# importamos datos

raiz = r"C:\Users\Usuario\Documents\05_Formación_Académica\Marc\Data_Science\machine_learning\Recursos_curso\datasets"
fichero = r"customer-churn-model\Customer Churn Model.txt"
ruta = os.path.join(raiz, fichero) 
data = pd.read_csv(ruta)

### Establecer una semilla para poder reproducir los números random a generar

In [3]:
# Lo primero será importar la libreria numpy para la generación de estos numeros random

import numpy as np

In [11]:
# Establecer la semilla con la que trabajaremos para poder replicar los resultados

np.random.seed(39441890) # el numero que ponga aqui puede ser cualquiera, en este caso mi dni

np.random.random() # por mas veces que ejecute, siempre va a dar 0.5236769627165684 por que hemos fijado la semilla

0.5236769627165684

### Generación aleatoria de números

In [6]:
# Establecer un número aleatorio del tipo integer entre los numeros 1 y 100

np.random.randint(1, 100)

52

In [7]:
# Establecer un número aleatorio del tipo float entre los numeros 0 y 1 (con muchos decimales)

np.random.random()

0.27595829709826425

In [12]:
# Crear una función que genere una lista de N valores aleatorios entre A y B

def numeros_random(A, B, N):
    lista = []
    for i in range(N):
        lista.append(np.random.randint(A, B))
    return lista

In [15]:
# Probar la función

np.random.seed(123456) # al haber fijado la semilla, va a dar [65, 234, 498, 49, 56, 171, 239, 43, 347, 32]
numeros_random(0, 500, 10)

[65, 234, 498, 49, 56, 171, 239, 43, 347, 32]

In [16]:
# Generar numeros aleatorios entre dos numeros que sean multiplos de algun valor

import random

random.randrange(0, 100, 5) # generar numeros entre el 0 y el 100 que sean multiplos de 5 partiendo del valor inicial 0

35

In [17]:
# generar numeros entre el 0 y el 100 que sean multiplos de 5 partiendo del valor inicial 1, es decir, por ejemplo no seria 50 sino que tendria 51

random.randrange(1, 100, 5)

51

### Shufling - Barajar (cambiar el orden de una lista concreta)

In [20]:
# Creamos una lista de valores ordenados del 0 al 20

lista_ordenada = np.arange(20) # lista con valores del 0 al 20
lista_ordenada

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [21]:
# Mezclar los valores de la lista

np.random.shuffle(lista_ordenada)
lista_ordenada

array([ 6,  8, 12, 17,  1,  9, 16, 14, 15, 10,  2,  0,  7, 18,  3, 11,  4,
        5, 19, 13])

### Choice - Escoger un valor aleatorio de una lista

In [24]:
# Creamos una lista a partir de los titulos de las columnas del dataset

lista_nombres = data.columns.values.tolist()

In [26]:
# Escogemos una de las columnas de forma aleatoria

np.random.choice(lista_nombres)

'Night Calls'